{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
        {% for mesage in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{mesage}}</div>
        {% endfor %}           
{% endblock %}